body{
	background-color:#39F;
}
.t1{
	color:#FFF;
}
.t2{
	color:#FFF;
}
p{bacgraund-color:#00F;
margin-right:80px;
margin-left:80px;
}
h1{margin-right:90px;
margin-left:90px;}
b{ padding:90px;}
img{margin-right:90px;
margin-left:90px;
}

p{font-family:Tahoma, Geneva, sans-serif;
}

